@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-display);

  --color-bg: #0a0a0a;
  --color-surface: #1a1600;
  --color-surface-hover: #241e00;
  --color-border: #3d3400;
  --color-text: #f0f0f0;
  --color-muted: #9a9a9a;
  --color-accent: #f5c518;
  --color-accent-hover: #ffd633;
}
